@charset "UTF-8";
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 14, 2016, 7:33:17 PM
    Author     : ritchie
*/

@font-face { font-family: neutronium; src: url('fonts/neutronium.ttf'); }

/*
Extra small
<544px	Small
≥544px	Medium
≥768px	Large
≥992px	Extra large
≥1200px
*/

body {
    /*background: black url(fire.jpg);*/
    background-image: url(red.jpg);
    margin: auto;
    max-width: 1400px;
    height: auto;
}

.container-fluid {
    background-color: black;
}

/*	NAVIGATION BAR	*/
#logo {
    position: absolute;
    margin-top: 5px;
    z-index: 1;
}

.store-badge {
    position: relative;
    float: left;
    width:  100px;
    height: auto;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.navbar-default .navbar-nav > li > a {
    font-family: neutronium, serif;
    letter-spacing: 3px;
    color: black;
    text-shadow: -3px -2px 10px red;
}

.navbar-default .media-icon {
	color: black;
	text-shadow: -3px -2px 10px red;
    padding-right: 10px;
}

#bandcamp {
    font-family: Helvetica, serif;
    text-decoration: none;
}

@media (min-width: 0px) {
    .navbar-default .navbar-nav > li > a {
        font-size: 250%;
    }
    .navbar-default .media-icon {
		font-size: 200%;
        padding-right: 20px;
	}
    #logo {
        width: 100px;
        height: auto;
    }
}

@media (min-width: 544px) {
    .navbar-default .navbar-nav > li > a {
        font-size: 300%;
    }
    .navbar-default .media-icon {
		font-size: 200%;
        padding-right: 20px;
	}
    #logo {
        width: 120px;
        height: auto;
    }
}
@media (min-width: 768px) {
    .navbar-default .navbar-nav > li > a {
        font-size: 200%;
    }
    .navbar-default .media-icon {
		font-size: 150%;
        padding-right: 0;
        padding-left: 20px;
	}
    #logo {
        width: 22%;
        height: auto;
    }
}

@media (min-width: 992px) { 
    .navbar-default .navbar-nav > li > a {
        font-size: 300%;
    }
	.navbar-default .media-icon {
		font-size: 175%;
        padding-right: 0;
        padding-left: 20px;
	}
    #logo {
        width: 22%;
        height: auto;
    }
}

@media (min-width: 1200px) {
    .navbar-default .navbar-nav > li > a {	
		font-size: 400%;
	}
	.navbar-default .media-icon {
		font-size: 200%;
        padding-right: 0;
        padding-left: 20px;
	}
    #logo {
        width: 22%;
        height: auto;
    }
}

.navbar-default {
	background-color: black;
	border-color: black;
    margin-bottom: 0;
}

.navbar-default .navbar-toggle .icon-bar {	
	background-color: red;
}

.navbar-default .navbar-collapse,
.navbar-default {
    border-color: black;
}

.navbar-default .navbar-toggle {
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover {
	color: black;
	text-shadow: -3px -2px 30px white;
}

.navbar-default .navbar-nav > li > a:focus {
    color: black;
}

.navbar-default .navbar-nav .media-icon:hover {
    color: black;
    text-shadow: -3px -2px 30px white;
}

.navbar-fixed-bottom p {
	font-style: italic;
	font-size: medium;
}