/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 14, 2016, 7:33:17 PM
    Author     : ritchie
*/
@font-face { font-family: neutronium; src: url('fonts/neutronium.ttf'); } 

/*
Extra small
<544px	Small
≥544px	Medium
≥768px	Large
≥992px	Extra large
≥1200px
*/

pre {
    background-color: black;
    color: white;

    text-align: center;
}

.parallax {
    /*background: url('../img/custom.png') no-repeat fixed top;*/
    width: 872px;
    height: 780px;
}

@media (min-width: 0px) {
    .parallax {
        background-size: 50%;
        height: 5%;
    }
}

@media (min-width: 544px) {
    .parallax {
        background-size: 50%;
        height: 6%;
    }
}
@media (min-width: 768px) {
    .parallax {
        background-size: 50%;
        height: 7%;
    }
}

@media (min-width: 992px) {
    .parallax {
        background-size: 50%;
        height: 8%;
    }
}

@media (min-width: 1200px) {
    .parallax {
        background-size: 42%;
        height: 9%;
    }
}

.parallax-end {

    height: 780px;

    /*background: url('../img/custom.png') no-repeat fixed center;*/
    width: 872px;
}