@charset "UTF-8";

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 14, 2016, 7:33:17 PM
    Author     : ritchie
*/
@font-face { font-family: neutronium; src: url('fonts/neutronium.ttf'); }

body {
    height: auto;
    margin: auto;
}

/*h1 {*/
    /*font-family: neutronium, serif;*/
    /*letter-spacing: 3px;*/
    /*color: black;*/
    /*text-shadow: 1px 1px 5px blue;*/
    /*font-size: 375%;*/
    /*margin-top: 0;*/
/*}*/

.panel-title {
    font-size: 50%;
}
.panel-group {
    background-color: transparent;
}

.panel-default {
    background: none;
    border-color: black;
    font-size: 450%;
    font-family: "Courier New", serif;
}

.panel > .panel-heading {
    background: rgba(122, 130, 136, 0.2)!important;
    font-family: neutronium, serif;
    letter-spacing: 3px;
    color: black;
    text-shadow: 0 0 5px red;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 100;
}

.row {
    margin-bottom: 25px;
    margin-top: 25px;
}

.store-badge {
    width:  30%;
    height: auto;
}

pre {
    background: rgba(122, 130, 136, 0.2)!important;
    border-color: black;
    color: white;
    font-weight: normal;
}

blockquote {
    border: 0;
    font-family: "Courier New";
    font-size: 200%;
    color: white;
    vertical-align: middle;
    padding-top: 25px;
}

.parallax {
    /*background: url('../img/custom.png') no-repeat fixed top;*/
    width: 872px;
    height: 780px;
}

@media (min-width: 0px), (min-width: 544px){
    body:before {
        content: "";
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        background: url("carbon-1.jpg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .parallax {
        background-size: 50%;
        height: 6%;
    }
}

@media (max-width: 544px) and (orientation: portrait) {
    .col-xxs-12 {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 768px) {
    body:before {
        content: "";
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        background: url("black-honeycomb.jpg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .parallax {
        background-size: 50%;
        height: 7%;
    }
}

@media (min-width: 992px) {
    body:before {
        content: "";
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        background: url("black-honeycomb.jpg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .parallax {
        background-size: 50%;
        height: 8%;
    }
}

@media (min-width: 1200px) {
    body:before {
        background-size: contain;
        background-repeat: repeat;
        background: fixed;
        background-image: url("red.jpg");
    }
    #content-background {
        background: fixed;
        background-size: contain;
        background-repeat: repeat;
        background-image: url("black-honeycomb.jpg");
        /*background-color: black;*/
    }
    .parallax {
        background-size: 42%;
        height: 9%;
    }
}

.parallax-end {
    height: 780px;
    /*background: url('../img/custom.png') no-repeat fixed center;*/
    width: 872px;
}