@charset "UTF-8";

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 14, 2016, 7:33:17 PM
    Author     : ritchie
*/
@font-face { font-family: neutronium; src: url('fonts/neutronium.ttf'); }

body {
    height: auto;
    margin: auto;
    max-width: 1400px;
}

label {
    font-size: medium;
    font-weight: 200;
    color: white;
    margin: 0;
    padding: 0 0 0 5px;
}

pre {
    background: rgba(122, 130, 136, 0.2)!important;
    border-color: transparent;
    color: white;
    font-weight: normal;
}

blockquote {
    border: 0;
    font-family: "Courier New", serif;
    font-size: 200%;
    color: white;
    vertical-align: middle;
    padding-top: 25px;
}

.bottom-buffer {
    margin-bottom: 50px;
}

.list-group .list-group-item {
    background: rgba(0, 0, 0, 0.8) !important;
    border-color: darkgray;
    margin: 0 -12px 5px -12px;
    padding: 5px;
}

.panel-body {
    background: rgba(122, 130, 136, 0.2) !important;
    border-radius: 5px;
}

.panel-title {
    font-size: 200%;
}

.panel-default {
    box-shadow: 10px 10px 50px black;
    background: none;
    border-color: transparent;
    font-family: "Courier New", serif;
}

.panel > .panel-heading {
    background: rgba(122, 130, 136, 0.2) !important;
    font-family: neutronium, serif;
    letter-spacing: 3px;
    color: black;
    text-shadow: 0 0 5px red;
    padding-top: 5px;
    padding-bottom: 5px;
}

@media (min-width: 0px), (min-width: 992px) {
    body:before {
        content: "";
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        background: url("background.jpg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media only screen and (min-width : 0px) and (max-width : 480px) {
    .review {
        font-size: 50%;
    }
}

@media (max-width: 544px) and (orientation: portrait) {
    /* Set album cover art on top of back cover art for small devices in portrait mode. */
    .col-xxs-12 {
        width: 100%;
        height: auto;
        margin: 0;
    }
    .col-xxs-4 {
        width: 33.3333%;
        height: auto;
        margin: 0;
    }
    .col-xxs-offset-3 {
        width: 50%;
        height: auto;
        margin: 0 25% 0 25%;
    }
}

@media (min-width: 768px), (min-width: 992px) {
    body:before {
        content: "";
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        background: url("background-2.jpg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media (min-width: 1200px) {
    body:before {
        content: "";
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        background: url("background-2.jpg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

.parallax-end {
    height: 780px;
    /*background: url('../img/custom.png') no-repeat fixed center;*/
    width: 872px;
}
