/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 14, 2016, 7:33:17 PM
    Author     : ritchie
*/
@font-face { font-family: neutronium; src: url('fonts/neutronium.ttf'); } 

body {
  background-color: black;
}

/*   NAVIGATION BAR   */

#logo {
	position: absolute;
	width: 22%;
	max-width: 400px;
	height: auto;
	margin-top: 10px;
}

/*
@media (max-width: 4000px) {

	#logo {		
		margin-left: 5%;
	}
}
*/

@media screen and (max-width: 767px) { 
	#logo {
	  position: relative;
    left: auto;
    right: auto;
    width: 20%;
    /*
	  margin-left: auto;
    margin-right: auto;
*/
	}
}

.navbar-default {
	background-color: black;
	border-color: black;
	margin-bottom: 0px;
}

.navbar-default .navbar-nav {
    font-family: neutronium;
    font-size: 130%;
    letter-spacing: 3px;
    padding-right: 12%;
}

.facebook-icon {
    color: #3b5998;
}

.youtube-icon {
    color: #cd201f;
}

.spotify-icon {
    color: #2ebd59;
}





