/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 14, 2016, 7:33:17 PM
    Author     : ritchie
*/
@font-face { font-family: neutronium; src: url('fonts/neutronium.ttf'); } 

body {
  background-color: black;
}

/*   NAVIGATION BAR   */

#logo {
	position: absolute;
	width: 22%;
	max-width: 400px;
	height: auto;
	margin-top: 10px;
}

/*
@media (max-width: 4000px) {

	#logo {		
		margin-left: 5%;
	}
}
*/

@media screen and (max-width: 767px) { 
	#logo {
	  position: relative;
    left: auto;
    right: auto;
    width: 20%;
    /*
	  margin-left: auto;
    margin-right: auto;
*/
	}
}

.navbar-default {
	background-color: #2b1d0e;
	border-color: black;
	margin-bottom: 0px;
}

/*
	blood red: 8A0707
	golden rod: daa520
	*/

.navbar-default .navbar-nav {
/*
    font-family: neutronium;
    font-size: 200%;
    letter-spacing: 3px;
*/
/*     padding-right: 12%; */
}

.navbar-toggle {
	background-color: #000000;
	border: none;
}
.navbar-default .navbar-nav > li > a {
	font-family: neutronium;
  font-size: 400%;
  letter-spacing: 3px;
	color: #c91900;
	text-shadow: 1px 1px 1px black;
}

.navbar-default .navbar-left {
	margin-top: 0px;
}

.social-media-icon {
	color: #daa520;
	font-size: 200%;
}




