/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 14, 2016, 7:33:17 PM
    Author     : ritchie
*/
@font-face { font-family: neutronium; src: url('fonts/neutronium.ttf'); } 

body {
  margin-top: 10px;
  background-color: black;
}

#logo {
	position: absolute;
/*
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
*/
  width: 25%;
/* 	z-index: 2; */
}

/*
#band {
	width: 100%;
}
*/

.navbar-default {
	background-color: black;
	border-color: black;
}
.navbar-default .navbar-nav {
    font-family: neutronium;
    font-size: 200%;
    letter-spacing: 3px;
    padding-left: 50%;
}

.facebook-icon {
    color: #3b5998;
}

.youtube-icon {
    color: #cd201f;
}

.spotify-icon {
    color: #2ebd59;
}



